body{
    background-color: cornflowerblue;
}
.container{
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    height: 150px;
}
.btn{
    margin-left: 20px;
    
}
.input{
    
    border: none;
    outline: none;
    border-bottom: 2px solid orange;
    
    padding: 1rem 3px;
}
.result{
    font-size: large;
    text-align: center;
}